@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
	background-image: url(img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.box {
	background: rgba(0, 0, 0, 0.4);
	width: 450px;
	padding: 40px;
	text-align: center;
	color: #ffcccc;
	margin: 1;
	margin-left: 30%;
	font-family: 'Century Gothic',sans-serif;
	text-shadow: 2px 2px 4px black; 
}

.image {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
  	letter-spacing: 4px;
  	font-weight: 100;
  	margin-bottom: 0;
  	margin-top: 1%;
  	color: white;
}

.box h5 {
	margin-top: 3%;
	font-size: 17px;
  	letter-spacing: 3px;
  	font-weight: 100;
  	color: white;

}


.box li {
	display: inline-block;
	margin: 6px;
}

.iconName {
	font-family: 'Century Gothic',sans-serif;
	font-size: 11px;
}

.box li a {
	color: white;
	font-size: 30px;
	padding: 10px;
	transition: all ease-in-out 250ms;
	text-decoration: none;
}

.box li a:hover {
	color: #ffcccc;
}
